<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.simon.ss.dao.OrderMapper">

    <!-- 通用查询映射结果 -->
    <!--<resultMap id="BaseResultMap" type="com.simon.ss.entity.Order">-->
        <!--<id column="order_id" property="orderId" />-->
        <!--<result column="user_id" property="userId" />-->
        <!--<result column="amount" property="amount" />-->
        <!--<result column="remark" property="remark" />-->
    <!--</resultMap>-->

    <!--<select id="selectById" resultType="com.simon.ss.entity.Order">-->
        <!--select * from t_order where order_id = #{orderId};-->
    <!--</select>-->


    <!--<select id="queryAll" resultMap="BaseResultMap">-->
        <!--select * from t_order;-->
    <!--</select>-->


    <!--<insert id="insert" parameterType="com.simon.ss.entity.Order" >-->
        <!--insert into t_order(order_id,user_id,amount,remark) values(#{orderId},#{userId},#{amount},#{remark});-->
    <!--</insert>-->


</mapper>
