<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.simon.ss.dao.TConfigMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.simon.ss.entity.TConfig">
    </resultMap>


    <select id="queryAll" resultMap="BaseResultMap">
        select * from t_config;
    </select>


    <insert id="insert" useGeneratedKeys="true" parameterType="com.simon.ss.entity.TConfig" >
        insert into t_config(user_id,config) values(#{userId},#{config});
    </insert>


</mapper>
